
.header-cont {
    height: 55px;
    padding: 0 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(0.75px);
    flex-shrink: 0;
}

.logo {
    width: 35px;
    height: 30px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header-menu {
    width: 250px;
    justify-content: space-between;
    display: flex;
}

.header-menu-items {
    color: black;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.en-ge {
    width: 34px;
    height: 10px;
    display: flex;
    border: 2px solid red;
}

.bg-img {
    height: 300px;
    width: 100%;
    position: absolute;
    top: -18px;
    left: 0;
    z-index: -9;
}